body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}
.parent{
    height: auto;
}
header{
    width: 100%;
    height: 60vh;
    background-image: url(/images/header.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
nav{
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-styles{
    font-size: 18px;
    font-family: okra, Helvetica, sans-serif;
    color: #ffffff;
    padding: 8px;
}
.app-icon{
    font-size: 15px;
    font-family: okra, Helvetica, sans-serif;
    color: #ffffff;
}
#fa-app{
    color: #ffffff;
}
ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.logo-z{
    height: 60px;
    width: 300px;
    margin-top: 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 36px;
    font-family: okra, Helvetica, sans-serif;
}
#input[type="search"]{
    width: 200px;
    height: 52px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: okra, Helvetica, sans-serif;
}
#fa-gps{
    color: orange;
    font-size: 25px;
    padding-left: 20px;
}
#fa-down{
    padding-right: 20px;
    font-size: 18px;
}
#fa-search{
    color: gray;
    font-size: 20px;
    margin: 10px;
    
}
#input1{
    width: 330px;
    height: 52px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: okra, Helvetica, sans-serif;

}
.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    background-color: #ffffff;
    margin-left: 270px;
    margin-right: 270px;
    border-radius: 10px;
}
.c2{
    
    height: auto;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.c2_img1{
    height: 250px;
    width: 350px;
    background-image: url(/images/orderonline.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c2_img1_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(42, 40, 40);
    background-color: #ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    border: 1px solid #d0d3d3;
}
.c2_img2{
    height: 250px;
    width: 350px;
    background-image: url(/images/dining.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c2_img2_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(42, 40, 40);
    background-color: #ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    border: 1px solid #d0d3d3;
}
.c2_img3{
    height: 250px;
    width: 350px;
    background-image: url(/images/liveevents.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c2_img3_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(42, 40, 40);
    background-color: #ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid #d0d3d3;
}
.c2p{
    font-size: 16px;
    font-family: okra, Helvetica, sans-serif;
    color: rgb(79, 74, 74);
    font-weight: lighter;
}
.c2_img1:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c2_img2:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c2_img3:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c3{
    height: auto;
    width: 100%;
    position: relative;
}
.c3_h1{
    font: 36px okra, Helvetica, sans-serif;
    color: #1c1c1c;
    padding-left: 60px;
    padding-right: 60px;
}
.c3_h6{
    font: 18px okra, Helvetica, sans-serif;
    color: #363636;
    padding-top: 10px;
    padding-left: 60px;
    position: absolute;
    flex: 1;
    left: 0;

}
.c3_span{
    padding: 10px;
    font: 16px okra, Helvetica, sans-serif;
    padding-right: 60px;
    position: absolute;
    flex: 1;
    right: 0;
}
.c4{
    
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}
.c4_img1{
    height: 350px;
    width: 260px;
    background:radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url(/images/toptrending.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c4_img1_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:#ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.c4_img2{
    height: 350px;
    width: 260px;
    background:radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url(/images/bestroof.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c4_img2_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:#ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.c4_img3{
    height: 350px;
    width: 260px;
    background:radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url(/images/tophaleem.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c4_img3_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:#ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.c4_img4{
    height: 350px;
    width: 260px;
    background:radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url(/images/iftarspecial.avif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.c4_img4_text{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    font-weight: bold;
    color:#ffffff;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.c4p{
    font-size: 16px;
    font-family: okra, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: lighter;
}
.c4_img1:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c4_img2:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c4_img3:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c4_img4:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.c5{
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.c5_head{
    font: 36px okra, Helvetica, sans-serif;
    color: #1c1c1c;
    padding-left: 60px;
    padding-right: 60px;
}
.c6{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.c6_box{
    margin: 60px;
}
.c6_text{
    height: 100px;
    width: 350px;
    object-fit: cover;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid lightgray;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.c6_text:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: #363636;
}
.c6p{
    font-size: 16px;
    font-family: okra, Helvetica, sans-serif;
    color: rgb(79, 74, 74);
    font-weight: lighter;
}
.c6_p{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    color: #1c1c1c;
    font-weight: normal;
}
.c7{
    background: #fffbf7;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.c7_img{
    height: 75%;
    width: 60%;
    display: flex;
    flex: 1; 
    overflow: hidden;
    object-fit: cover;
    padding-left: 100px;

}
.c7_info{
    display: flex;
    flex: 1;
}
.c7_h2{
    font: 44px okra, Helvetica, sans-serif;
    color: #1c1c1c;
}
input[type="radio"]{
    accent-color: orange;
    height: 20px;
    width: 30px;
    font-size: 18px;
}
.inp_txt{
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font: 18px okra, Helvetica, sans-serif;

}
.div-btn{
    display: inline;
}
.btn{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: rgb(223, 43, 43);
    color: #ffffff;
    font: 16px okra, Helvetica, sans-serif;
}
.store-img{
    width: 130px;
    height: 40px;
}
.c8{
    height: auto;
    width: 100%;
}
.c9{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    
}
.c9_info{
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.c9_p{
    font-size: 20px;
    font-family: okra, Helvetica, sans-serif;
    color: #1c1c1c;
    font-weight: normal;
}
#c9_hov:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
}
footer{
    height: auto;
    width: 100%;
    background-color: #fffbf7;
    margin-top: 100px;
    padding-top: 50px;
}
.f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
}
.f1-img{
    height: 40px;
    width: 170px;
}
.f-btn{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color:#ffffff;
    color: #1c1c1c;
    font: 14px okra, Helvetica, sans-serif;
}
.f2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}
.f2_1{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    
}
.f2-head{
    font: 20px okra, Helvetica, sans-serif;
    color: #050303;
    padding-bottom: 10px;
}
.f2-content{
    font: 16px okra, Helvetica, sans-serif;
    color: #706e6e;
    font-weight: lighter;
}
.social{
    background: #050303;
    border-radius: 20px;
    height: 30px;
    width: 30px;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
}
.f3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f3-content{
    font: 13px okra, Helvetica, sans-serif;
    color: #706e6e;
    font-weight: lighter;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}

/* Responsive */

@media(max-width: 600px){
    .nav-links{
        padding-top: 20px;
        display: flex;
        gap: 0px;
        flex-direction: row;
        height: 100px;
        text-align: center;
    }
    .nav-styles{
        font-size: 14px;
    }
    .logo-z{
        width: 200px;
        height: 50px;
    }
    .header-text{
        text-align: center;
        font-size: 20px;
    }
    .search-container{
        display: none;
    }
    .c2{
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .c2_img1{
        height: 300px;
        width: 400px;
    }
    .c2_img1_text{
        font-size: 15px;
        height: 50px;
    }
    .c2_img2{
        height: 300px;
        width: 400px;
    }
    .c2_img2_text{
        font-size: 15px;
        height: 50px;
    }
    .c2_img3{
        height: 300px;
        width: 400px;
    }
    .c2_img3_text{
        font-size: 15px;
        height: 50px;
    }
    .c3{
        margin-left: 0;
        padding-left: 0;
        padding-right: 10px;
    }
    .c3_span{
        display: none;
    }
    .c4{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .c4_img1{
        padding-left: 5px;
        height: 300px;
        width: 200px;
    }
    .c4_img1_text{
        font-size: 17px;
    }
    .c4_img2{
        padding-left: 5px;
        height: 300px;
        width: 200px;
    }
    .c4_img2_text{
        font-size: 17px;
    }
    .c4_img3{
        padding-left: 5px;
        height: 300px;
        width: 200px;
    }
    .c4_img3_text{
        font-size: 17px;
    }
    .c4_img4{
        padding-left: 5px;
        height: 300px;
        width: 200px;
    }
    .c4_img4_text{
        font-size: 17px;
    }
    .c6{
        height: auto;
    }

    .c7{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
    }
    .c7_img{
        flex: none;
        display: none;
    }
    .c7_info{
        flex: none;
        padding-top: 0;
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .c7_h2{
        font: 36px okra, Helvetica, sans-serif;
        color: #1c1c1c;
    }
    input[type="radio"]{
        accent-color: orange;
        height: 10px;
        width: 15px;
        font-size: 14px;
    }
    .inp_txt{
        height: 30px;
        width: 200px;
        font: 14px okra, Helvetica, sans-serif;
    
    }
    .btn{
        height: 50px;
        width: 120px;
    }
    .store-img{
        width: 150px;
        height: 50px;
    }
    .c9_info{
        width: 70vw;
    }
    .f1{
        padding-left: 10px;
        padding-right: 10px;

    }
    .country_lang{
        display: flex;
    }
    .f2{
        width: 540px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-left: -10px;
    }
    .f2-1{
        padding: 10px;
    }
    .f2-head{
        font-size: 12px;
    }
    .f2-content{
        font-size: 10px;
    }
    .social{
        width: 15px;
        height: 15px;
    }
    .store-img{
        width: 50px;
        height: 25px;
    }
    .c7_app-link{
        /* position: fixed; */
        position: relative;
    }
    .c7_info{
        margin-top: 200px;
    }
    .c7_h2{
        font-size: 30px;
    }

}